#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background: #f0f0f0;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.my-profile{
  background: "none";
  border: "none";
  padding: 0;
  margin-left: "1em";
}

.user-icon{
  width: 32px;
  height: 32px;
  border-radius: 50%; 
}